<div class="modal-content">
    <h4>New Training</h4>

    <div class="row">
        <form class="col s12">
            <div class="row modal-form-row">
                <div class="input-field col s12">
                    <input id="start-training-date" type="date" class="validate">
                    <label for="start-training-date">Start date</label>
                </div>
            </div>

            <div class="row modal-form-row">
                <div class="input-field col s12">
                    <input id="start-training-time" type="time" class="validate">
                    <label for="start-training-time">Start time</label>
                </div>
            </div>

            <div class="row modal-form-row">
                <div class="input-field col s12">
                    <input id="stop-training-date" type="date" class="validate">
                    <label for="stop-training-date">Stop date</label>
                </div>
            </div>

            <div class="row modal-form-row">
                <div class="input-field col s12">
                    <input id="stop-training-time" type="time" class="validate">
                    <label for="stop-training-time">Stop time</label>
                </div>
            </div>

            <div class="row modal-form-row">
                <div class="input-field col s12">
                    <input id="description-training" type="text" class="validate">
                    <label for="description-training">Description</label>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="modal-footer">
    <a id="training-submit" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
</div>