<div class="modal-content">
    <h4>New Weight</h4>

    <div class="row">
        <form class="col s12">
            <div class="row modal-form-row">
                <div class="input-field col s12">
                    <input id="weight-date" type="date" class="validate">
                    <label for="weight-date">Date</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="weight" type="number" class="validate">
                    <label for="weight">Weight</label>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="modal-footer">
    <a id="weight-submit" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
</div>