<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="http://www.salamfitnessgym.com/images/a9.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="http://entrainementdopamine.com/wp-content/uploads/2018/01/Cardio-pour-d%C3%A9butant-et-interm%C3%A9diaire-Dopamine-Entra%C3%AEnement-Priv%C3%A9-1.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://www.nautilusplus.com/content/uploads/2013/10/Cardio-intervalle.jpg"></a>
</div>